<div class="card">
    <p-table [value]="userList" stripedRows [paginator]="true" [rows]="15" [rowsPerPageOptions]="[5, 10, 20]"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>UserId</th>
                <th>EmailId</th>
                <th>FullName</th>
                <th>CreatedDate</th>
                <th>ProjectName</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.emailId }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.createdDate | date : 'dd/MM/yyyy' }}</td>
                <td>{{ user.projectName }}</td>

            </tr>
        </ng-template>
    </p-table>
</div>